<!-- index.ejs -->
<html>

<head>
    <% include ./partials/header.ejs %> 
    <script type="text/javascript" src="/js/home.js"></script>   
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class='home-container'>
        <% include ./partials/navbar.ejs %>

        <h2 class="titles">This Weeks Top Recipe</h2>
        <div class="home-image"></div>

        <div class="row">

            <div class="column">
                <img src="https://www.godairyfree.org/wp-content/uploads/2012/09/peruvianavocados.jpg" alt="Food"
                    class="image" style="width:50%">
                <div class="middle">
                    <div class="text">
                        <h1>Stuffed Avocado <h4>FOR: Vegans, Vegetarians</h4>
                            <h4>Ratings:
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </h4>
                        </h1>
                        <h2>Ingredients</h2>
                        <p>advocado <br> more avocado <br> eggs <br> quinoa <br> tomatoes <br>
                            onions <br> cilantro <br> olive oil
                        </p>
                    </div>
                </div>
            </div>



            <div class="column">
                <img src="https://www.rachelcooks.com/wp-content/uploads/2018/01/shrimp-tacos-avocado-mango-salsa-web-5-of-12-600x550.jpg"
                    alt="Food" class="image" style="width:50%">
                <div class="middle">
                    <div class="text">
                        <h1>Shrimp Avocado Tacos <h4>FOR: Vegetarians</h4>
                            <h4>Ratings:
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </h4>
                        </h1>
                        <h2>Ingredients</h2>
                        <p>advocados <br>shrimp <br> pineapple <br>
                            onions <br> cilantro <br> olive oil
                        </p>
                    </div>
                </div>
            </div>

            <div class="column">
                <img src="https://ik2oa1wlcj46xaafvt85daad-wpengine.netdna-ssl.com/wp-content/uploads/2019/01/Waldorf-Salad-600x550.png"
                    alt="Food" class="image" style="width:50%">
                <div class="middle">
                    <div class="text">
                        <h1>Mysterious Vegan Salad <h4>FOR: Vegans, Vegetarians</h4>
                            <h4>Ratings:
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </h4>
                        </h1>
                        <h2>Ingredients</h2>
                        <p>advocado <br>pepper <br> apple <br>
                            lettuce <br> walnut <br> soy cheese <br> vinaigrette
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="previous round">&#8249;</a>
        <a href="#" class="next round">&#8250;</a>

        <div class='search-recipe'>
            <input id="search-box" type="text" size="20"/>
            <button id="recipe-button">Search Food</button>
            <div id='food-title'></div>
            <img id='food-pic'></img>
        </div>
        <div id='home-padding'></div>

        <% include ./partials/footer.ejs %>
    </div>
</body>

</html>