<!-- profile.ejs -->
<html>
    <head>
        <h1> VVRecipe </h1>
        <% include ./partials/header.ejs %>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>
        <h1>Profile</h1>
    </body>
</html>