<!-- recipe.ejs -->
<html>
    <head>
        <h1> VVRecipe </h1>
        <% include ./partials/header.ejs %>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>

        <h1> Recipe </h1>

    </body>
</html>