<!-- register.ejs -->
<html>
    <head>
        <% include ./partials/header.ejs %>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>
            <form>
                    <input type="button" value="Go back!" onclick="history.back()">
            </form>
    </body>
</html>