<!-- singleRecipe.ejs-->
<html>
    <head>
        <% include ./partials/header.ejs %>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>
        <h1>Single Recipe</h1>
    </body>
</html>